# Airflow settings
AIRFLOW_IMAGE_NAME=airflow-spark:2.8.0
AIRFLOW_UID=50000
AIRFLOW_GID=0

# HDFS Cluster Name
CLUSTER_NAME=cdr-analytics-cluster

# Spark Configuration
SPARK_MASTER_PORT=7077
SPARK_MASTER_WEBUI_PORT=8081
SPARK_WORKER_CORES=2
SPARK_WORKER_MEMORY=2G
